@{ 
    ViewBag.Title = "Not Found";
}

<br />
<div class="alert alert-danger">
    @ViewBag.ErrorMessage
</div>
<a asp-controller="Home" asp-action="Index" style="width:auto" class="btn btn-outline-primary">Click here to navigate to the home page.</a>